/* Carousel */

.header-slide{
    box-shadow: 0 0 5px 5px rgba(44, 44, 44, 0.3);
}

.carousel-caption{
    top: 50%;
    right: 50%;
}
.carousel-caption p{
    font-size: 20px;
}
.carousel-caption h1 {
    font-weight: bold;
}

@media  (max-width: 991px)  {
    
    .carousel-caption{
        top: 73%;
        text-align: center;
       left: 40%;
    }
    .carousel-caption p , h1{
        width: 200px;
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .carousel-caption{
        top: 68%;
        text-align: center;
       left: 37%;
    }
    .carousel-caption p {
        width: 200px;
        font-size: 18px;
    }
    .carousel-caption  h1 {
        
        width: 200px;
        font-size: 20px;
    }
}       
/*  */

/* Card */

.card a{
    color: black;
}
#monthlypopular{
    margin-top: 5rem;
}

#dailypopular{
    margin-top: 3rem;
}

.card-img-top {
    width: 100%;
    height: 420px;
    object-fit: cover;
}
.card-title{
    text-align: center;
}

.card-slide{
    margin-left: 5rem;
    margin-right: 5rem;
}

@media (max-width: 767px) {
    .hide-card {
        display: none;
    }
}
/*  */

/* Selection */
::selection {
    color: rgb(255, 255, 255);
    background: rgb(2, 113, 133);
  }
/*  */